<div
  id="app"
  class="full-height"
  @dragenter="dragOn"
  @dragleave="dragOff"
  :class="{ matrix: overlayStage > 0, two: overlayStage > 1 }"
>
  <vue-spinner :loading="loading > 0" class="main-spinner"></vue-spinner>
  <div class="slide-overlay" :class="{sidebarOpen}"></div>
  <img
    src="https://i.imgur.com/dlsTZSx.gif"
    class="underlay d-none"
    :class="{ two: overlayStage > 1, three: overlayStage > 2 }"
    v-if="overlayStage > 0"
  />
  <router-view id="page-wrap" class="text-center"></router-view>
  <Slide
    :noOverlay="true"
    @openMenu="sidebarOpen = true"
    @closeMenu="sidebarOpen = false"
    class="sidebar"
  >
    <router-link
      :to="'/' + r.path"
      v-for="r in routes"
      :key="r.path"
      v-slot="{ href, route, navigate, isActive, isExactActive }"
      v-if="!r.hidden"
    >
      <a :class="{isActive, 'nav-link': 1}" :href="href" @click="navigate">
        {{ r.title }}
      </a>
    </router-link>
    <a
      class="nav-link"
      :href="serverUri + '/accounts/login?next=/'"
      v-if="!Auth.authenticated"
    >
      Login
    </a>
    <a
      class="nav-link"
      :href="serverUri + '/accounts/logout'"
      v-if="Auth.authenticated"
    >
      Logout
    </a>
  </Slide>
  <div class="cookie-info" :class="{ 'hide-below': !showCookieInfo }">
    <div class="cookie-info-wrap">
      We are not tracking you, but this website does use cookies.
      <a href="JavaScript:void(0)" class="ml-2" @click="disableCookieInfo">
        Ok
      </a>
      <a href="//google.com" class="ml-2">
        Leave Site
      </a>
      <br />
      <a href="//bromberglab.org/#contact">
        Imprint
      </a>
    </div>
  </div>
  <NotificationPopup></NotificationPopup>
  <div
    class="black-overlay"
    :class="{ one: overlayStage >= 1, two: overlayStage > 1, three: overlayStage > 2 }"
  ></div>
  <img
    src="https://i.imgur.com/5A92xsT.gif"
    class="overlay d-none"
    :class="{ one: overlayStage >= 1, two: overlayStage > 1, three: overlayStage > 2 }"
    v-if="overlayStage > 0.01"
  />
</div>
