@import "src/custom";

.node {
  background: $node-color;

  border: ($ratio * 2em) solid $node-border-color;
  border-radius: ($ratio * 10em);
  cursor: pointer;
  min-width: $node-width;
  height: auto;
  padding-bottom: ($ratio * 6em);
  box-sizing: content-box;
  position: relative;
  user-select: none;
  &:hover {
    background: darken($node-color, 3%);
  }
  &.selected {
    background: lighten($node-color, 3%);
  }
  &.secondary {
    background: $secondary-node-color;
    &:hover {
      background: darken($secondary-node-color, 3%);
    }
    &.selected {
      background: lighten($secondary-node-color, 3%);
    }
  }
  &.tertiary {
    background: $tertiary-node-color;
    &:hover {
      background: darken($tertiary-node-color, 3%);
    }
    &.selected {
      background: lighten($tertiary-node-color, 3%);
    }
  }

  .title {
    color: $white;
    font-family: sans-serif;
    font-size: 1.25em;
    padding: ($ratio * 8em);
  }
  .output {
    text-align: right;
  }
  .input {
    text-align: left;
  }
  .input-title,
  .output-title {
    vertical-align: middle;
    color: $white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 0.9em;
    margin: $socket-margin;
    line-height: $socket-size;
  }
  .input-control {
    z-index: 1;
    width: calc(100% - #{$socket-size + 2 * $socket-margin});
    vertical-align: middle;
    display: inline-block;
  }
  .control {
    padding: $socket-margin $socket-size / 2 + $socket-margin;
  }
  .settings {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    font-size: 1.8em;
    color: $gear-color;
    &.finished {
      background-color: $white;
      border-radius: 100%;
      height: 1.1em;
      width: 1.1em;
      & > div {
        position: relative;
        width: 100%;
        height: 100%;
        & > svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.info {
        cursor: pointer;
        &:hover {
          .no-hover {
            display: none;
          }
        }
        &:not(:hover) {
          .hover {
            display: none;
          }
        }
      }
    }
  }

  .download {
    color: $gray-100;
    margin: 0 0.5em;
  }

  border-width: 0;
  .bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0.4em;
    border-radius: ($ratio * 10em);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
  }
  .bar-content {
    height: 100%;
    background-color: $gray-100;
    opacity: 0.8;
  }
}
