@import "src/custom";

.socket {
  display: inline-block;
  cursor: pointer;
  border: $socket-size / 20 solid $white;
  border-radius: 100%;
  width: $socket-size;
  height: $socket-size;
  margin: $socket-margin;
  vertical-align: middle;
  background: $socket-color;
  z-index: 2;
  box-sizing: border-box;
  position: relative;

  &:hover {
    background: darken($socket-color, 6%);
  }
  &.multiple {
    border-color: yellow;
  }
  &.output {
    margin-right: -$socket-size / 2;
  }
  &.input {
    margin-left: -$socket-size / 2;
  }
  .node.secondary & {
    background-color: $secondary-socket-color;
    &:hover {
      background: darken($secondary-socket-color, 6%);
    }
  }
  .node.tertiary & {
    background-color: $tertiary-socket-color;
    &:hover {
      background: darken($tertiary-socket-color, 6%);
    }
  }

  &.used {
    &::after {
      content: "";
      width: $socket-size / 3;
      height: $socket-size / 3;
      background-color: $white;
      z-index: 2;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
    }
  }

  div {
    color: white;
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    text-align: center;
    svg {
      height: 100%;
      vertical-align: middle;
      path {
        vertical-align: middle;
      }
    }
  }
}
