<div class="rete-editor" :class="{ graphpaper: !workflow, edit: !workflow }">
  <NodeSettings v-if="!workflow"></NodeSettings>
  <div
    class="header"
    v-if="workflow"
    :class="{ finished: meta.finished, fail: meta.some_failed }"
  >
    <span @click="changeNameModal"
      ><font-awesome-icon icon="pen" class="mr-1"> </font-awesome-icon> {{
      meta.name }}</span
    >:
    <span v-if="!meta.finished">
      running
    </span>
    <span v-if="meta.finished && !meta.some_failed">
      succeeded
    </span>
    <span v-if="meta.finished && meta.some_failed">
      failed
    </span>
    <a href="JavaScript:void(0)" class="float-right" @click="asTemplate">
      As Template
      <font-awesome-icon :icon="['far', 'file']"></font-awesome-icon>
    </a>
  </div>
  <div class="rete-container">
    <div class="node-editor"></div>
  </div>
  <div v-if="!workflow" class="filter-bar">
    <b-button-group size="sm">
      <b-button
        v-for="(btn, idx) in buttons"
        :key="idx"
        :pressed.sync="btn.state"
        variant="outline-primary"
        @click="filterButtonClicked"
      >
        {{ btn.caption }}
      </b-button>
    </b-button-group>
    <b-input placeholder="Filter" v-model="filterText" size="sm"></b-input>
  </div>
  <div :class="{ 'd-none': workflow }" class="dock"></div>
  <div v-if="!workflow" class="save-load">
    <form action="." @submit.prevent="loadFlow">
      <b-input-group>
        <b-form-input
          type="text"
          placeholder="Save Name"
          v-model="saveName"
        ></b-form-input>

        <b-input-group-append>
          <b-button variant="outline-primary" @click="loadFlow">Load</b-button>
          <b-button variant="outline-success" @click="saveFlow">Save</b-button>
          <b-button variant="success" @click="runFlow">Run</b-button>
        </b-input-group-append>
      </b-input-group>
    </form>
    <b-button variant="info" @click="arrange">Arrange</b-button>
  </div>

  <b-modal
    v-if="workflow"
    id="flow-name-modal"
    title="Import"
    @ok="changeName"
    @hide="changeNameAbort"
  >
    <b-form-input
      type="text"
      placeholder="Workflow Name"
      v-model="meta.name"
      required
    >
    </b-form-input>
  </b-modal>
</div>
