<div class="rete-editor" :class="{ graphpaper: !workflow, edit: !workflow }">
  <NodeSettings v-if="!workflow"></NodeSettings>
  <NodeInfo v-if="workflow"></NodeInfo>
  <div
    class="header"
    v-if="workflow"
    :class="{ finished: meta.finished, fail: meta.some_failed }"
  >
    <a href="JavaScript:void(0)" @click="changeNameModal"
      ><font-awesome-icon icon="pen" class="mr-1" /> {{ meta.name }}</a
    >:
    <span v-if="!meta.finished">
      running
    </span>
    <span v-if="meta.finished && !meta.some_failed">
      succeeded
    </span>
    <span v-if="meta.finished && meta.some_failed">
      failed
    </span>
    <a
      href="JavaScript:void(0)"
      :title="shared ? 'Copied!' : 'Copy Link'"
      v-b-tooltip.hover
      @click="share"
    >
      <font-awesome-icon icon="external-link-alt" class="ml-2" />
    </a>
    <a href="JavaScript:void(0)" class="float-right" @click="asTemplate">
      As Template
      <font-awesome-icon :icon="['far', 'file']" />
    </a>
  </div>
  <div class="rete-container">
    <div class="node-editor"></div>
    <div
      class="update-resources"
      v-if="workflow && meta.finished && !meta.some_failed && !meta.updated_resources"
    >
      <b-button
        @click="updateResources"
        variant="outline-warning"
        href="JavaScript:void(0)"
      >
        <font-awesome-icon icon="tachometer-alt" class="mr-2" />Update Resource
        Quotas
      </b-button>
    </div>
  </div>
  <div v-if="!workflow" class="filter-bar">
    <b-button-group size="sm">
      <b-button
        v-for="(btn, idx) in buttons"
        :key="idx"
        :pressed.sync="btn.state"
        variant="outline-primary"
        @click="filterButtonClicked"
      >
        {{ btn.caption }}
      </b-button>
    </b-button-group>
    <b-input placeholder="Filter" v-model="filterText" size="sm"></b-input>
  </div>
  <div :class="{ 'd-none': workflow }" class="dock"></div>
  <div v-if="!workflow" class="save-load">
    <form action="." @submit.prevent="loadFlow">
      <b-input-group>
        <b-form-input
          type="text"
          placeholder="Save Name"
          v-model="saveName"
        ></b-form-input>

        <b-input-group-append>
          <b-button variant="outline-primary" @click="loadFlow">Load</b-button>
          <b-button variant="outline-success" @click="saveFlow">Save</b-button>
          <b-button variant="success" @click="runFlow">Run</b-button>
        </b-input-group-append>
      </b-input-group>
    </form>
    <b-button variant="info" @click="arrange">Arrange</b-button>
  </div>

  <b-modal
    v-if="workflow"
    id="flow-name-modal"
    title="Workflow"
    @ok="changeName"
    @hide="changeNameAbort"
  >
    <b-form-input
      type="text"
      placeholder="Workflow Name"
      v-model="meta.name"
      required
    >
    </b-form-input>
    <template v-slot:modal-footer="{ ok, cancel, hide }">
      <div class="w-100">
        <b-button
          class="float-left"
          variant="outline-success"
          @click="hide(); createAPI()"
          >Create API <help-link page="external_api" class="ml-1"
        /></b-button>
        <b-button variant="primary" class="float-right ml-2" @click="ok">
          OK
        </b-button>
        <b-button variant="secondary" class="float-right" @click="cancel">
          Cancel
        </b-button>
      </div>
    </template>
  </b-modal>
  <b-modal v-if="workflow" id="api-flow-modal" title="API">
    Save this information to use the workflow as an external API:
    <pre class="code-display">{{apiFlow}}</pre>
  </b-modal>
</div>
