@import "src/custom";

table {
  margin-top: 5em;
}

.card {
  border-width: 0;
}

.card-body {
  padding: 0;
}

::v-deep .custom-control-input.is-invalid ~ .custom-control-label::before {
  background-color: $danger;
}
::v-deep .custom-control-input.is-invalid ~ .custom-control-label::after {
  background-color: $white;
}
