<div>
  <div class="reassembling" v-if="reassembling">
    Reassembling Chunks ...
  </div>
  <div class="reassembling" v-if="extracting">
    Extracting Archive ...
  </div>
  <Uploader
    @upload-start="uploadStarted"
    @file-uploaded="getTree"
    class="uploader"
  ></Uploader>
  <tree :files="files"></tree>
  <UploadInputLine
    class="line"
    @continue="continueUpload"
    :upload="upload"
    :ready="files.length ? true : false"
  ></UploadInputLine>
  <div class="text-left line">
    <b-button variant="danger" @click="clear">
      Clear Upload
    </b-button>
  </div>
</div>
